@import "tailwindcss";


@theme {
  --color-primary: var(--color-yellow-200);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

.marquee:hover {
  animation-play-state: paused;
}